<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NekoCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NekoCode.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Night</value>
            </setting>
            <setting name="LastProjects" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="NekodeMemoryFileName" serializeAs="String">
                <value>our_story.mem</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCommands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="RegisteredNekodeMemorySize" serializeAs="String">
                <value>0</value>
            </setting>
        </NekoCode.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
